* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f6;
  font-family: sans-serif;
}

input {
  border: 1px solid #22252b29;
  border-radius: 12px;
  padding: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #22252b;
}

.card-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;

  width: 600px;

  margin-top: 50px;

  background-color: white;
  border-radius: 10px;
}

.card-form {
  margin-left: 36px;
}

.card-divided {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 32px;
}

.card-input-box {
  margin-top: 20px;
}

.card-h1 {
  margin-top: 32px;

  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #22252b;
}

.card-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #22252bb2;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #22252bb2;
}

.card-full-input {
  margin-top: 10px;
  width: 536px;
}

.card-part-input {
  margin-top: 10px;
  width: 240px;
}

.card-part-input-box {
  margin-right: 36px;
}

.card-buttons {
  max-width: 536px;
  margin-left: 32px;
}

.card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;

  border-radius: 12px;
  border: 0;

  padding: 16px 24px;
  margin: 16px 16px 48px 0;

  cursor: pointer;
}

.blue {
  color: white;
  background-color: #0663ef;
}

.white {
  color: #0663ef;
  background-color: #0663ef14;
}

.error-message {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;

  color: #c24100;
}

.input-error {
  border: 1px solid #c24100;
  outline: none;
}
